body {
    font-family: 'Inter Bold',Helvetica,Arial,Lucida,sans-serif;
}

/* Sections
	 * --------------------------------------- */
 .section {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}
#section1 {
    background-image: url(/images/front1.jpg);
    /* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
}
#section2 {
    background-image: url(/images/front2.jpg);
}
#section3 {
    background-image: url(/images/front3.jpg);
}
#section4  {
    background-image: url(/images/jj.png);
}
/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 20px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: white;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font: 22px Heiti, 'Lucida Grande', Arial;
    font-weight: bold;
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
/*#arrow:hover span {
    top: 0;
    color: #FFF;
}
 #arrow:hover {
    background: #EC008C;
} */

/* Controll how many times the scroll down effect */
.indexscroll {
    animation-iteration-count:3;
}

.bg-card {
    background: #343a4040;
}

.titleFont {
    font-family: 'Merriweather', serif;
}

.textFont {
    font-family: 'Spectral', serif;
}

.indexTitle {
    font-size: 72px;
    line-height: 1.2em;
    font-weight: 700;
}

.indexText {
    font-size: 20px;
    line-height: 40px;
}

.featureText {
    font-size: 20px;
}

.iconsize {
    width: 70px;
}

