<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./template/all') -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('./template/header') -%>
      <div data-aos="fade-down-right"><h1>TTTT</h1></div>
    

      <%- include('./template/aos') -%>
  </body>
</html>
