<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./template/all') -%>
    <link rel='stylesheet' href='/stylesheets/pages/about.css' />
  </head>
  <body>

      <%- include('./template/header') -%>

      <div class="px-5 bg-transparent title">
          <h1 class="display-4 px-5">Company Background</h1>
          <p class="lead px-5">We Bring the Future to Life</p>
          <hr class="w-25 ml-5" style="border: 1px solid white;">
      </div>

      <p class="lead mx-auto w-75 my-5">
          ArisGlobal is the visionary technology company that’s transforming the way today’s most successful Life Sciences companies develop breakthroughs, and bring new products to market. Our cognitive technology platform, LifeSphere, integrates machine learning capabilities to automate all core functions of the product lifecycle. Designed with deep expertise and a long-term perspective that spans more than 30 years, our cognitive platform delivers actionable insights, boosts efficiency, ensures compliance, and lowers total cost of ownership through multi-tenancy.
      </p>

      <%- include('./template/aos') -%>
  </body>
</html>
