<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./template/all') -%>
    <link rel='stylesheet' href='/stylesheets/pages/about.css' />
  </head>
  <body>

      <%- include('./template/header') -%>


      <%- include('./template/aos') -%>
  </body>
</html>
