<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./template/all') -%>
    <link rel='stylesheet' href='/stylesheets/pages/contact.css' />
  </head>
  <body>

      <%- include('./template/header') -%>

        <!-- Title Section -->
        <div class="px-5 bg-transparent title">
            <h1 class="display-4 px-5">Contact Us</h1>
            <p class="lead px-5">We Bring the Future to Life</p>
            <hr class="w-25 ml-5" style="border: 1px solid white;">
        </div>

        <div class="container">
            <div class="row">

                <!-- Left Part -->
                <div class="lead col col-lg-6 text-left">
                    Our USA Location
                    <br>
                    <div class="pl-3">
                        <div class="row">
                            <div class="col-sm-2">
                                Address:
                            </div>
                            <div class="col-sm-10">
                                3637 Brunswick Pike (US Highway 1 South), Princeton, NJ 08540
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                Phone:
                            </div>
                            <div class="col-sm-10">
                                (609) 580-1998
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                Fax:
                            </div>
                            <div class="col-sm-10">
                                (609) 356-0401
                            </div>
                        </div>
                    </div>

                    <form class="mt-5 w-75">
                        <p>Connect with Us                            </p>
                        <div class="form-group ml-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary ml-3">Submit</button>
                    </form>
                </div>

                <!-- Right Part -->
                <div class="col col-lg-6">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>

                <script>
                        // Initialize and add the map
                        function initMap() {
                          // The location of Uluru
                          var uluru = {lat: 40.323833, lng: -74.648031};
                          // The map, centered at Uluru
                          var map = new google.maps.Map(
                              document.getElementById('map'), {zoom: 16, center: uluru});
                          // The marker, positioned at Uluru
                          var marker = new google.maps.Marker({position: uluru, map: map});
                        }
                            </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2FJdriIIFqPy141QVtcd3AI6AyW5W6Xg&callback=initMap" type="text/javascript"></script>

            </div>
        </div>

      <%- include('./template/aos') -%>
  </body>
</html>
