.topbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 1.4rem;
}

a  {
    color: white !important;
}

.logoholder {
    overflow: hidden;
    white-space: nowrap;
    width: 65px;
    height: 55px;
    cursor: pointer;
    transition: width 1s;
    -webkit-transition: width 1s;
    position: relative;
}

.logoholder:hover {
    width: 240px;
}

.holder {
    color: white;
    font-size: 50px;
    position: absolute;
    top: -10px;
    /* display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    transition: 0.3s; */
}

.titleFont {
    font-family: 'Merriweather', serif;
}

.textFont {
    font-family: 'Spectral', serif;
}