<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/head.css' />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-transparent topbar">
			<!-- <a class="navbar-brand" href="/">G2 MDS</a> -->
			<!-- <a class="navbar-brand" href="/"><img class="w-75" src="/images/logo.png" alt="G2 MDS"></a> -->

			<div class="logoholder titleFont">
				<a href="/">
					<div class="holder">G2 - MDS</div>
				</a>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav titleFont">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/service">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://dev.g2-mds.com/sd-users/login">Login</a>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown link
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li> -->
				</ul>
			</div>
		</nav>
  </body>
</html>
