<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/head.css' />
    <script language="javascript" src="/javascripts/jquery.js"></script>
    <script language="javascript" src="/javascripts/popper.js"></script>
    <script language="javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body>
      <h1 class="test">HHH</h1>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
  </body>
</html>
